* {
    box-sizing: border-box;
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;    
}

.thumbnail {
    margin: 21% 0;
    background-color: #1d3d6b;
}

.start {
    width: 100%;
    margin: 150px 0;
    padding: 10px;
    font-size: 30px;
}

.startOver {
    width: 100%;
    margin: 45px 0;
    padding: 10px;
    font-size: 30px;
}

#question,
#outcome {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-top: 20px;
}

.answers {
    width: 50%;
    margin: 1% 26%;
    padding: 10px;
    font-size: 30px;
}

#correctAnswer,
#allDone,
#finalCorrect,
#finalIncorrect,
#finalUnanswered,
#timeRemaining {
    color: #ffffff;
    text-align: center;
}

.gif {
    width: 350px;
    margin: 55px 0;
}