* {
    box-sizing: border-box;
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;    
}


.panel {
    margin: 180px 193px;
    width: 73%;
    background-color: #2e2c77;
}

#title {
    width: 551px;
    margin-left: 23px;
}

#trivia {
    width: 178px;
    margin-left: 15px;
}

.start {
    width: 320px;
    margin: 150px 0 106px 240px;
    padding: 10px;
    font-size: 30px;
}

#question {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}

.answers {
    width: 320px;
    margin: 16px 0 0 240px;
    padding: 10px;
    font-size: 30px;
}

#outcome,
#correctAnswer,
#allDone,
#finalCorrect,
#finalIncorrect,
#finalUnanswered {
    color: #ffffff;
    text-align: center;
}

img {
    width: 330px;
    margin: 55px 0 40px 230px;
}